/*PRIMARY STYLING SECTION*/
body{
	margin: 0
}

button{
	font-family: sans-serif;
	text-decoration: none;
	color: black;
	border: none;
	background-color: white;
}

/*header section*/
#navbar>img{
	height: 80px;
}

#navbar{
	display: flex;
}

#navbar>ul{
	display: flex;
	list-style-type: none;
	padding-left: 675px;
	vertical-align: middle;
	justify-content: space-evenly;
	align-items: center;
}

#navbar>ul>li>button{
	padding-left: 15px;
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 500;
}

/*banner section*/

#banner{
	background-image: url(../images/banner.png);
	height: 500px;
	background-size: cover;
	background-position: center;
}

#banner>h2{
	color: #fff;
	padding-left: 80px;
	padding-top: 100px;
	font-size: 45px;
	font-family: sans-serif;
	margin-top: 0;
}

#banner>p{
	color: #fff;
	padding-left: 80px;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 400;
}

/*order section*/

#orderSection>h3{
	background-image: url(../images/heading-bg.png);
	background-size: cover;
	background-position: center;
	width: 600px;
	height: 50px;
	text-align: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	margin-top: 60px;
	font-size: 30px;
	font-family: Geneva, Tahoma, sans-serif;
}

/*card section*/

.container{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}

#card{
	margin-left: 20px;
	margin-right: 10px;
	box-shadow: 0px 4px 9px 4px gray;
	border-radius: 10px;
	width: 240px;
	height: 300px;
}

figure{
	margin: 0;
	margin-left: 10px;
	align-content: center;
}

figure>img{
	height: 200px;
}

figure>h4{
	font-size: 18px;
	font-family: sans-serif;
	margin-bottom: 0;
	margin-top: 0;
}

figure>p{
	font-family: serif,  Helvetica, sans-serif;
	font-size: 11px;
	margin-bottom: 0;
}

#itemPrice{
	font-size: 14px;
	margin-top: 2px;
}

#itemPrice>span{
	font-size: 20px;
	color: orange;
}

/*footer section*/

#flexBackground{
	display: flex;
	padding-top: 90px;
	margin-bottom: 90px;
}

#footerSection{
	background-image: url(../images/footer-bg.png);
	background-size: cover;
	background-position: center;
	margin-top: 100px;
}

#footerSection>p{
	text-align: center;
	font-family: sans-serif;
}

#container{
	margin-left: 100px;
}

#container>img{
	height: 80px;
}

#container>p{
	font-family: sans-serif;
	font-size: 15px;
}

#container>h3{
	font-family: sans-serif;
	text-decoration: none;
}

.s-container{
	display: flex;
}

.image{
	max-height: 80px;
	max-width: 80px;
}

.image>img{
	height: 80px;
}



/*Responsive Web Design Section*/



@media only screen and (max-width: 600px) { 
	/* for small screens */ 
	.col-s-1 {width: 8.33%;} 
	.col-s-2 {width: 16.66%;} 
	.col-s-3 {width: 25%;} 
	.col-s-4 {width: 33.33%;} 
	.col-s-5 {width: 41.66%;} 
	.col-s-6 {width: 50%;} 
	.col-s-7 {width: 58.33%;} 
	.col-s-8 {width: 66.66%;} 
	.col-s-9 {width: 75%;} 
	.col-s-10 {width: 83.33%;} 
	.col-s-11 {width: 91.66%;} 
	.col-s-12 {width: 100%;}

	/*navbar section*/

	#navbar>img{
		height: 70px;
    }


	#navbar{
		display: block;
	}

	#navbar>ul{
		display: block;
		list-style-type: none;  
		align-items: center;
		padding-left: 10px;
		background-color: whitesmoke;
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 0;
	}

	#navbar>ul>li{
		padding-bottom: 7px;
	}

	#navbar>ul>li>a{
		color: black;
		text-decoration: none;
		font-size: 15px;
		font-family: sans-serif;
		font-weight: 400;
	}




	/*banner section*/

	#banner{
		background-image: url(../images/mobile-banner.jpg);
		height: 300px;
		background-size: cover;
		background-position: right;
	}

	#banner>h2{
		color: #fff;
		padding-left: 20px;
		padding-top: 60px;
		font-size: 25px;
		font-family: sans-serif;
		margin-top: 0;
	}

	#banner>p{
		color: #fff;
		padding-left: 20px;
		font-family: sans-serif;
		font-size: 12px;
		font-weight: 300;
	}



	/*order section*/

	#orderSection>h3{
		background-image: url(../images/heading-bg.png);
		background-size: cover;
		background-position: center;
		width: 300px;
		height: 30px;
		text-align: center;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
		margin-top: 20px;
		font-size: 18px;
		font-family: Geneva, Tahoma, sans-serif;
	}

	/*card section*/

	.container{
		display: block;
		margin-left: auto;
		margin-right: auto;
		align-items: center;
		justify-content: center;
		margin-bottom: 25px;
	}

	#card{
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0px 4px 9px 4px whitesmoke;
		border-radius: 10px;
		width: 240px;
		height: 300px;
		margin-bottom: 30px;
	}

	figure{
		margin: 0;
		margin-left: 10px;
		align-content: center;
	}

	figure>img{
		height: 200px;
	}

	figure>h4{
		font-size: 18px;
		font-family: sans-serif;
		margin-bottom: 0;
		margin-top: 0;
	}

	figure>p{
		font-family: serif, Helvetica, sans-serif;
		font-size: 11px;
		margin-bottom: 0;
	}

	#itemPrice{
		font-size: 18px;
		margin-top: 2px;
	}

	#itemPrice>span{
		font-size: 30px;
		color: orange;
	}



	/*flex section*/

	

	#flexBackground{
	display: block;
	padding-top: 90px;
	margin-bottom: 90px;
	}

	#footerSection{
		background-image: url(../images/footer-bg.png);
		background-size: cover;
		background-position: center;
		margin-top: 100px;
	}

	#footerSection>p{
		text-align: left;
		font-family: sans-serif;
	}

	#container{
		margin-left: 40px;
	}

	#container>img{
		height: 100px;
	}

	#container>p{
		font-family: sans-serif;
		font-size: 18px;
	}

	#container>h3{
		font-family: sans-serif;
		text-decoration: none;
		font-size: 22px;
	}

	.s-container{
		display: flex;
	}

	.image{
		max-height: 100px;
		max-width: 100px;
	}

	.image>img{
		height: 100px;
	}

	#footerSection>p{
		text-align: center;
	}



}



@media only screen and (max-width: 700px){
	/* banner section*/

	.col-s-1 {width: 8.33%;} 
	.col-s-2 {width: 16.66%;} 
	.col-s-3 {width: 25%;} 
	.col-s-4 {width: 33.33%;} 
	.col-s-5 {width: 41.66%;} 
	.col-s-6 {width: 50%;} 
	.col-s-7 {width: 58.33%;} 
	.col-s-8 {width: 66.66%;} 
	.col-s-9 {width: 75%;} 
	.col-s-10 {width: 83.33%;} 
	.col-s-11 {width: 91.66%;} 
	.col-s-12 {width: 100%;}

	#banner{
		background-image: url(../images/mobile-banner.jpg);
		height: 500px;
		background-size: cover;
		background-position: left;
	}

	#overlay{
		background-color: rgba(0, 0, 0, 0.7);
	}

	#banner>h2{
		color: #fff;
		padding-left: 20px;
		padding-top: 130px;
		font-size: 35px;
		font-family: sans-serif;
		margin-top: 0;
	}

	#banner>p{
		color: #fff;
		padding-left: 20px;
		font-family: sans-serif;
		font-size: 12px;
		font-weight: 300;
	}

	/*navbar section*/

	#navbar>img{
		height: 70px;
    }


	#navbar{
		display: block;
	}

	#navbar>ul{
		display: block;
		list-style-type: none;
		align-items: center;
		padding-left: 10px;
		background-color: whitesmoke;
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 0;
	}

	#navbar>ul>li{
		padding-bottom: 7px;
	}

	#navbar>ul>li>a{
		color: black;
		text-decoration: none;
		font-size: 15px;
		font-family: sans-serif;
		font-weight: 400;
	}

	/*card section*/

	.container{
		margin-left: auto;
		margin-right: auto;
		align-items: center;
		justify-content: center;
		margin-bottom: 25px;
	}

	#col-md-6{
		display: flex;
	}

	#card{
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0px 4px 9px 4px whitesmoke;
		border-radius: 10px;
		width: 240px;
		height: 300px;
		margin-bottom: 30px;
	}

	figure{
		margin: 0;
		margin-left: 10px;
		align-content: center;
	}

	figure>img{
		height: 200px;
	}

	figure>h4{
		font-size: 18px;
		font-family: sans-serif;
		margin-bottom: 0;
		margin-top: 0;
	}

	figure>p{
		font-family: serif, Helvetica, sans-serif;
		font-size: 11px;
		margin-bottom: 0;
	}

	#itemPrice{
		font-size: 18px;
		margin-top: 2px;
	}

	#itemPrice>span{
		font-size: 30px;
		color: orange;
	}





}

